/* Empty. Add your own CSS if you like */
.center{
	text-align: center;
	margin-bottom: 20%;
	padding-top: 15%;
}
.bg{
	background: url("../img/vraag3.jpg;") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

