<ion-view>
	<ion-content has-header="true" padding="true">
		<div class="list card">

		  <div class="item">
		    <h2><b>WEEKLY</b> AWARD</h2>
		  </div>
		  <div class="item item-image">
		    <img src="img/bic.PNG">
		  </div>
		  <div class="item">
		    <h2><b>MONTHLY</b> AWARD</h2>
		  </div>
		   <div class="item item-image">
		    <img src="img/pull.jpg">
		  </div>
		  <div class="item">
		    <h2>AWARD OF THE <b>YEAR</b></h2>
		  </div>
		   <div class="item item-image">
		    <img src="img/dinner.png">
		  </div>
		</div>
	</ion-content>
</ion-view>