<ion-view>
	<ion-content has-header="true" padding="true">
		<h1 class="title center">Characters</h1>
		<ion-list>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="img/cap.png">
	        <h2>Captain</h2>
	      </ion-item>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="img/market_guy.png">
	        <h2>BusinessMan</h2>
	      </ion-item>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="img/cook.png">
	        <h2>Cook</h2>
	      </ion-item>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="img/waiter.png">
	        <h2>Waiter</h2>
	      </ion-item>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="img/waste_guy.png">
	        <h2>Customer</h2>
	      </ion-item>
    </ion-list>

		</ion-content>
</ion-view>