<ion-view>
	<ion-content has-header="true" padding="true">
		<h1 class="title center"><b>APP</b>etite</h1>
		<button class="button  button-block button-balanced" ng-click="play('/play')">Play</button>
		<button class="button  button-block button-positive" ng-click="map('/scores')">Scores</button>
		<button class="button  button-block button-assertive" ng-click="map('/map')">Map</button>
		<button class="button  button-block button-royal" ng-click="map('/options')">Extra's</button>
		<button class="button  button-block button-calm" ng-click="close()">Exit</button>
		</ion-content>
</ion-view>