<ion-view>
	<ion-content has-header="true" padding="true">
		<button class="button  button-full button-positive"  ng-click="scanBarcode()">SCAN QR</button>
		<button class="button  button-full button-balanced" disabled="false" id="button1">TRANSPORT</button>
		<button class="button  button-full button-balanced" disabled="false" id="button2">MARKET</button>
		<button class="button  button-full button-balanced" disabled="false" id="button3" ng-click="go('/level3')">COOKING</button>
		<button class="button  button-full button-balanced" disabled="false" id="button4">SERVING</button>
		<button class="button  button-full button-balanced" disabled="false" id="button5">WASTE
		</button>
		<button class="button  button-full button-assertive" id="playGame" ng-click="go('/level3')">PLAY GAME</button>
	</ion-content>
</ion-view>