<ion-view>
	<ion-content>
		<h1 class="title center">APPetite</h1>
		<button class="button  button-full button-positive"  ng-click="scanBarcode()">ScanCode</button>
		<button class="button  button-full button-balanced" disabled="false" id="button1">Level 1</button>
		<button class="button  button-full button-balanced" disabled="false" id="button2">Level 2</button>
		<button class="button  button-full button-balanced" disabled="false" id="button3" ng-click="go('/level3')">Level 3</button>
		<button class="button  button-full button-balanced" disabled="false" id="button4">Level 4</button>
		<button class="button  button-full button-balanced" disabled="false" id="button5">Level 5</button>
		<button class="button  button-full button-assertive" id="playGame" ng-click("go('/level3')")>Play game</button>
	</ion-content>
</ion-view>